.incart {
    background-color: rgba(208, 203, 66, 0.709);
}

.purchased {
    background-color: rgba(211, 211, 211, 0.704);
}

.incart, .purchased{
    border: 1px solid black;
    text-align: center;
}

.name {
    text-decoration: underline;
}

CardAction{
    align-content: center;
}