.banner-header {
  text-align: center;
  padding: 0.25em;
  background-image: linear-gradient(to bottom, lightgrey, white);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 2rem;
}

#our-tag {
  text-decoration: underline;
  font-size: 5rem;
}

#sl-tag {
  color: black;
  font-size: 3rem;
}

#shop-cart {
  width: 200px;
  height: 200px;

}
